---
import { Icon } from 'astro-icon/components';

interface Props {
  icon: string;
  title: string;
  countActive?: {
    active: number;
    total: number;
  };
  totalMoney?: number;
}
const { icon, title, countActive, totalMoney } = Astro.props;
---

<article class="card-info">
  <div class="card-info-icon">
    <Icon name={icon} width={26} height={26} />
  </div>
  <div class="card-info-content">
      {
        countActive && (
          <div class="card-info-count">
            {countActive.active} de {countActive.total}
          </div>
        )
      }
      {totalMoney && <div class="card-info-money">${totalMoney}</div>}
      <div class="card-info-title">{title}</div>
  </div>
</article>
